*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background-color: #FBFBFB;
}
@font-face {
    font-family: 'Ek-Mukta';
    src: url('../../public/fonts/EkMuktaRegular-mOLv.ttf') format(ttf);
}
@font-face {
    font-family: 'Itim';
    src: url('../../public/fonts/Itim-Regular.ttf') format(ttf);
}
header, main{
    padding-left: 100px;
    padding-right: 100px;
}
nav ul li{
    display: inline-flex;
    margin-left:60px;
    color: #000;
    text-align: center;
    font-family: "Itim";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    bottom: 15px;
}
nav{
  width: 400px;
}
ul{
  width: 400px;
}
li button{
  color: #FFF;
  border: none;
  background: #45BF86;
  width: 124px;
  height: 53px;
  cursor: pointer;
  transition: 0.4s;
}
li button:hover{
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
button a, li a{
  color: #FFF;
  text-decoration: none;
}
nav ul li:first-child{
  margin-left: 0;
}
nav{
  position: relative;
  left: 1393px;
}
.logotype{
  position: relative;
  top: 40px;
}
.search{
    position: relative;
    top: 30px;
    left: 164px;
    border-radius: 15px;
    background: #FFF;
    width: 698px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    height: 70px;
    border: none;
    color: #5E9FF2;
    font-family: "Itim";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.search::placeholder{
    color: #5E9FF2;
    font-family: "Itim";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.wrapper{
    display: flex;
    max-width: 1415px;
    position: relative;
    top: 90px;
    left: 134px;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  i{
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  i img{
    height: 40px;
    width: 40px;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 484px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }
.about{
  margin-top: 110px;
  width: 90vw;
  height: 80vh;
  display: flex;
}
.blobs{

  width: 75px;
  height: 75px;
}
.phone_number{
  color: #6D0FF2;
  text-align: center;
  font-family: "Ek Mukta";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.email{
  color: #45BF86;
  text-align: center;
  font-family: "Ek Mukta";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.address{
  color: #F00;
  font-family: "Ek Mukta";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-block{
  position: relative;
  left: 134px;
  margin-top: 50px;
  width: 434px;
  height: 534px;
  flex-shrink: 0;
  background: #ffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 67px;
}
.about-block h3{
    color: #000;
    text-align: center;
    font-family: "Ek Mukta";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about-block p{
  max-width: 100%;
  text-align: center;
}
.about-map{
  width: 841px;
  height: 607px;
  position: relative;
  display: flex;
  left: 800px;
  bottom: 530px;
}
  footer{
    margin-top: 10px;
    background: #169EF2;
    width: 99vw;
    height: 315px;
  }
  .footer-icons{
    margin-left: 730px;
  }
  .footer-icon{
    margin-left: 72px;
    margin-top: 92px;
    width: 75px;
    height: 75px;
  }
  .footer-icon:first-child{
    margin-left: 0;
  }
  .footer-info{
    display: inline-flex;
    margin-top: 24px;
    margin-left: 364px;
  }
  .footer-info p:first-child{
    margin-left: 0;
  }
  .footer-info p{
    margin-left: 246px;
    color: #FFF;
    text-align: center;
    font-family: "Ek Mukta";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
.lane{
  margin-left: 240px;
}
