
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
body{
    background-color: #F5F5F5;

}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 1263px;
    height: 738px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 62px;
}
h2{
    color: #F00;
    width: 596px;
    height: 83px;
    text-align: center;
    font-family: "Inria Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 37px;
}
.error{
    color: #F00;
}
.login{
    width: 587px;
    height: 71px;
    border: 3px solid #5E9FF2;
    background: #FFF;
    padding-left: 14px;
    font-family: "Inria Sans";
    outline: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.password{
    border: 3px solid #45BF86;
    background: #FFF;
    outline: none;
    width: 587px;
    height: 71px;
    padding-left: 14px;
    font-family: "Inria Sans";
    outline: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* left: -255px; */
}
.login::placeholder{
    color: rgba(255, 0, 0, 0.75);
    font-family: "Inria Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.password::placeholder{
    color: rgba(94, 159, 242, 0.75);
    font-family: "Inria Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.send_form{

    background: #6D0FF2;
    width: 587px;
    height: 71px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    color: #FFF;
    text-align: center;
    font-family: "Inria Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.send_form:hover{
    transition: 0.5s;
    background-color: #5D0CCF;
}
.a{
    font-size: 18px;
    /* top: 500px;
    left: -245px; */
}
